*{margin: 0; padding: 0;}
nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    padding: 0;
    background: bisque;
    height: 100px;
    line-height: 79px;
}
a.nav-link{
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 79px;
    color: #101010 !important;
}
li.nav-item{
    margin: 0;
    padding: 0;
    margin: 0 17px;
}
.intro{
    position: relative;
    width: 100%;
    height: 100%;
    background: #00BCD4;
    margin-top: 100px;
    padding: 50px 0;
}
.info{
    display: inline-block;
    position: relative;
}
.info h1{
    color: #fff;
    margin:15px 0;
}
.info p{
    max-width: 500px;
    color: #fff;
}
.intro:before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    background: #e4555b;
    background: #33d857;
    width:50%;
    height: 100%;
}
.avatar{
    width: 150px;
    height: 150px;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    background-image: url(images/avatar.jpg);
    background-repeat: no-repeat;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.centerCol{
    background-image: url("images/img2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.mouse{
    width: 40px;
    height: 75px;
    border: 1px solid #fff;
    margin: 60px auto 0;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s ;
    -ms-transition: all 0.4s ;
    -o-transition: all 0.4s ;
    transition: all 0.4s ;
    position: relative;
    top: 0;
    cursor: pointer;
}
.mouse:after{
    content: '';
    width: 4px;
    height: 15px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 17px;
    margin-left: -2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.mouse:hover{
    top:-20px;
}
.knowledge{
    padding:80px 0;
}
.knowledge h2{
    margin-bottom:50px;
}
.knowledge h3{
    margin-bottom: 30px;
}
.knowledge h4{}
.knowledge span{}
.knowledge p{}
@media (max-width: 767px){
    .navbar-toggleable-md .navbar-nav .nav-item{
        display: inline-block;
    }
    nav.navbar.navbar-light.bg-faded.navbar-fixed-top{
        line-height: normal;
        height: auto;
    }
    a.nav-link{
        line-height: normal;
    }
    ul.nav.navbar-nav.float-md-right{
        text-align: center;
    }
}